<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="images/favicon.png" >
    <title>Pregunta para la lección <%= @user.actualLearning %></title>
    <style>
        /* Estilos para la notificación */
        #notificacion {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #f0f0f0;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        }
        /* Estilos para el botón Continuar */
        #boton-continuar {
            display: block;
            margin: 10px auto; /* Centrar horizontalmente */
            font-size: 18px; /* Tamaño del botón */
        }

        body{
            background-image: url('images/fondo.jpg'); /* Añadir la imagen de fondo */
               background-size: cover;
               font-family: 'Montserrat', sans-serif;
        }

        body h1{
            background-color: hsla(180, 28%, 86%, 1);
            font-family: 'Montserrat', sans-serif;
            text-align: center;
            padding: 10px;
             box-shadow: 0px 0px 5px 5px hsla(180, 28%, 86%, 1);
        }

        fieldset{
            background-color: hsla(180, 28%, 86%, 1);
            font-family: 'Montserrat', sans-serif;
        }

        legend{
         background-color: hsla(180, 28%, 86%, 1);
                    font-family: 'Montserrat', sans-serif;
                    padding: 10px;
                    text-align: center;
        }

        button{
            padding: 20px;
            background-color: rgba(7,32,35,0.9);
            backdrop-filter: blur(20px);
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            box-shadow: 0px 0px 10px 2px #072023;
        }

        #notificacion{
            font-family: 'Montserrat', sans-serif;
            padding: 40px;
            border: none;
            border-radius: 10px;
            background-color: rgba(71,82,83,0.8);

        }

    </style>
    <script>
        function generarColorAleatorio() {
            const letras = "0123456789ABCDEF";
            let color = "#";
            for (let i = 0; i < 6; i++) {
                color += letras[Math.floor(Math.random() * 16)];
            }
            return color;
        }

        function mostrarFelicitacion(event) {
            event.preventDefault(); // Evita el envío automático del formulario

            // Obtener todas las opciones
            const opciones = document.getElementsByName("respuesta");

            // Verificar si alguna opción está marcada como correcta
            let opcionCorrecta = false;
            for (const opcion of opciones) {
                if (opcion.checked) {
                    // Obtener el atributo "correct" de la opción
                    const esCorrecta = opcion.getAttribute("correct");
                    if (esCorrecta === "true") {
                        opcionCorrecta = true;
                        break;
                    }
                }
            }

            // Mostrar la notificación si la opción es correcta
            const notificacion = document.getElementById("notificacion");
            notificacion.style.display = "block";


            // Crear el formulario de redirección
            const formRedirect = document.createElement("form");
            formRedirect.method = "post";
            formRedirect.action = "/questions";

            // Campo oculto para indicar si la respuesta fue correcta
            const inputHidden = document.createElement("input");
            inputHidden.type = "hidden";
            inputHidden.name = "respuesta_correcta";
            inputHidden.value = opcionCorrecta ? "true" : "false";
            formRedirect.appendChild(inputHidden);

            // Botón para enviar el formulario
            const botonContinuar = document.createElement("button");
            botonContinuar.type = "submit";
            botonContinuar.id = "boton-continuar";
            botonContinuar.textContent = "Continuar";
            formRedirect.appendChild(botonContinuar);

            notificacion.textContent = opcionCorrecta ? "¡Correcto! ¡Buena elección!" : "¡Incorrecto! Deberías repasar algunos conceptos...";
            notificacion.appendChild(formRedirect);
        }
    </script>
</head>
<body>
    <h1>Veamos lo aprendido... </h1>
    <form id="formulario" method="post">
        <% actual_question = @current_question%> 
        <% question = @questions.find { |q| q.number == actual_question } %>
        <h1> PREGUNTA NUMERO <%= actual_question %></h1>
        <br>
        <br>
        <br>
        <fieldset>
            <legend><%= question.enunciation %></legend>
            <% question.options.each do |option| %>
                <label>
                    <input type="radio" name="respuesta" value="<%= option.id %>" correct="<%= option.correct %>">
                    <%= option.enunciation %>
                </label>
                <br>
            <% end %>
        </fieldset>
        <br>

        <button type="button" onclick="mostrarFelicitacion(event)">Responder</button>
    </form>
    
     <!-- Elemento para la notificación -->
    <div id="notificacion"></div>
</body>
</html>
