<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="images/favicon.png" >
  <title>Pregunta correspondiente a la lección <%= @current_question %></title>
  <style>
      #notificacion {
          display: none;
          position: fixed;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: #f0f0f0;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
      }

      #boton-continuar {
          display: block;
          margin: 10px auto;
          font-size: 18px;
          padding: 10px 20px;
          background-color: rgba(7,32,35,0.9);
          color: #fff;
          border: none;
          border-radius: 5px;
          cursor: pointer;
      }

      body {
          background-image: url('images/fondo.jpg');
          background-size: cover;
          font-family: 'Montserrat', sans-serif;
      }

      body h1 {
          background-color: hsla(180, 28%, 86%, 1);
          font-family: 'Montserrat', sans-serif;
          text-align: center;
          padding: 10px;
          box-shadow: 0px 0px 5px 5px hsla(180, 28%, 86%, 1);
      }

      fieldset {
          background-color: hsla(180, 28%, 86%, 1);
          font-family: 'Montserrat', sans-serif;
      }

      legend {
          background-color: hsla(180, 28%, 86%, 1);
          font-family: 'Montserrat', sans-serif;
          padding: 10px;
          text-align: center;
      }

      button {
          padding: 20px;
          background-color: rgba(7,32,35,0.9);
          backdrop-filter: blur(20px);
          color: #fff;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          box-shadow: 0px 0px 10px 2px #072023;
      }

      #notificacion {
          font-family: 'Montserrat', sans-serif;
          padding: 40px;
          border: none;
          border-radius: 10px;
          background-color: rgba(71,82,83,0.8);
          text-align: center;
      }
  </style>
  <script>
      function mostrarNotificacion(mensaje) {
          var notificacion = document.getElementById('notificacion');
          notificacion.innerHTML = mensaje + '<br><button id="boton-continuar">Continuar</button>';
          notificacion.style.display = 'block';
          document.getElementById('boton-continuar').addEventListener('click', function() {
              window.location.reload(); // Reload the page to continue to the next question
          });
      }

      document.addEventListener('DOMContentLoaded', function() {
          var form = document.getElementById('formulario');
          form.addEventListener('submit', function(event) {
              event.preventDefault();
              var formData = new FormData(form);
              fetch(form.action, {
                  method: 'POST',
                  body: formData
              })
                  .then(response => response.json())
                  .then(data => {
                      mostrarNotificacion(data.message);
                  });
          });
      });
  </script>
</head>
<body>
<h1>Veamos lo aprendido... </h1>

<form id="formulario" method="post" action="/questions">
  <h1> PREGUNTA NUMERO <%= @current_question.id %></h1>
  <br>
  <br>
  <br>

  <fieldset>
    <legend><%= @current_question.enunciation %></legend>
    <% @current_question.options.shuffle.each do |option| %>
      <label>
        <input type="radio" name="respuesta" value="<%= option.id %>">
        <%= option.enunciation %>
      </label>
      <br>
    <% end %>
  </fieldset>

  <br>
  <button type="submit">Responder</button>
</form>

<!-- Elemento para la notificación -->
<div id="notificacion"></div>
</body>
</html>