<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/x-icon" href="images/favicon.png" >
<title>Busqueda - Elementally</title>
<style>
    
body {
    background-image: url('/images/fondo.jpg') ; /* Cambia 'fondo_quimica.jpg' por la ruta de tu imagen de fondo */
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
}

.searchpage-container {
    max-width: 98%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 10px -5px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    backdrop-filter: blur(2px);
    background: linear-gradient(to bottom, transparent, rgba(71,82,83,0.9));
}


.displayelements h2{
    text-align:center;
    background-color: hsla(180, 6%, 45%, 0.95);
    padding: 5px;
    border-radius: 5px;
}

input[type="text"] {
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Muli', sans-serif;
    background-color: hsla(180, 28%, 86%, 1);   
}

input[type="submit"] {
    width: 200px;
    margin: 0 20px;
    padding: 10px;
    background-color: rgba(53,164,247,0.75);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.cell {
    max-width: 300px;
    margin: 10px;
    padding: 20px;
    background-color: hsla(180, 6%, 45%, 0.9);
    border-radius: 10px;
    box-shadow: -5px 5px 10px 2px;
    backdrop-filter: blur(2px);
    font-family: 'Montserrat', sans-serif;
    margin-bottom:15px;
    background: linear-gradient(to left, transparent, rgba(71,82,83,0.9));
}

.cell div {
    color: #000;
    font-weight: bold;
    text-shadow: 0px 0px 10px rgba(255,255,255,0.75);
}

a{
    text-decoration: none;
    color: #1a1425;
    font-family: 'Muli', sans-serif;
}

select{
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    background-color:hsla(180, 28%, 86%, 1);
}

.searchpage-container a{
    padding: 20px;
    text-decoration: none;
    color: hsla(180, 28%, 86%, 1); 
    font-family: 'Muli', sans-serif;
}

.searchpage-container a:hover{
    text-decoration: solid underline 3px;
    color: #000089;
    font-family: 'Muli', sans-serif;
}
</style>
</head>
<body>
    
    <div class="searchpage-container">
        <h2>Busqueda de Elementos</h2>
        <form action="/searchpage" method="get">
            <label for="searchbarfilter">Buscar por:</label>
            <select name="searchbarfilter" id="searchbarfilter">
                <option value="Symbol">Simbolo</option>
                <option value="Name">Nombre</option>
                <option value="AtomicMass">Masa Atomica</option>
                <option value="Number">Numero</option>
                <option value="Group">Grupo</option>
                <option value="Period">Periodo</option>
                <option value="Classification">Clasificacion</option>
            </select>
            <input type="text" name="searchbar" placeholder="Hierro / 55.845" value="<%= @searchbar %>" />
            <input class="button" type="submit" value="Buscar" />
        </form>
        <br>
      
    </div>

    <div class="displayelements">
        <% if @results.any? %>
            <h2>Resultados de la búsqueda</h2>
            <ul>
            <% @results.each do |element| %>
                <div class="cell">
                    <div class="element"  class="type-4 cat-3">
                        <div class="symbol">Simbolo: <%= element.Symbol %></div>
                        <div class="name">Nombre: <%= element.Name %></div>
                        <div class="atomicmass">Masa Atomica: <%= element.AtomicMass %></div>
                        <div class="number">Numero: <%= element.Number %></div>
                        <div class="group">Grupo: <%= element.Group_ %></div>
                        <div class="period">Periodo: <%= element.Period %></div>
                        <div class="classification">Clasificacion: <%= element.Classification%></div>
                    </div>
                </div>
            <% end %>
            </ul>
        <% elsif @searchbar %>
            <p style="color: red">No se encontraron elementos</p>
        <% end %>

    </div>


</body>
</html>
